async-timeout==3.0.1
multidict==4.7.5
pycares==3.1.1
pycparser==2.19
pyTelegramBotAPI==3.6.7
python-multipart==0.0.5
python-telegram-bot==12.3.0
requests==2.22.0
six==1.14.0
sqlparse==0.3.0
starlette==0.13.2
telebot==0.0.4
urllib3==1.25.8
uvicorn==0.11.3
websockets==8.1
yarl==1.4.2
